<h1> <%=@feed_items.first.first.feed_category_name %> news </h1>

<% @feed_items.each do |feeds| %>
  <h2><%=link_to feeds.first.feed_title, feeds.first.feed %></h2>
  <% feeds.each do |feed_item| %>
    <h3><%=link_to feed_item.title, feed_item.url, target: 'blank' %></h3>
    <b><%= feed_item.feed_category_name %></b> <%= feed_item.published_at%>
    <br><br>
    <%=truncate(feed_item.summary, length: 140)%>
    <hr>
  <% end %>
<% end %>
