 <nav class="top-bar" data-topbar>
   <section class="top-bar-section">

    <ul class="title-area">
      <li>
        <%= link_to 'iFeed', '/' %>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
        <li>
          <%= link_to current_user.email, '#' %>
        </li>
        <li>
          <%= link_to 'Log out', destroy_user_session_path, { method: :delete } %>
        </li>
      <% else %>
        <li class="active">
          <%= link_to 'Sign in', user_session_path %>
        </li>
        <li>
          <%= link_to 'Sign up', new_user_registration_path %>
        </li>
      <% end %>
      </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to 'Feeds', feeds_path %></li>
    </ul>
  </section>
</nav>
