<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <%= render partial: 'top_bar'%>
    <%= yield %>
    

    <div class="sidebar large-3 columns left">
            <ul class="side-nav">
                
                <h3> Choose a Category </h3>
                <br>
                
                  <li><a href="#" class="button [radius round]">Technology</a></li>
                  <li><a href="#" class="button [radius round]">Top News </a></li>
                  <li><a href="#" class="button [radius round]">Sports</a></li>
                  <li><a href="#" class="button [radius round]">Business</a></li>
              
            </ul>
    </div>

    <div class="large-9 columns right">
      <div class = "right_side">            
              <li>
                <% @feeds.each do |feed| %>
                    <%=truncate(feed.summary, :length => 140)%>
                    <br>
                    <%= feed.published_at%><br>
                    <div class="links"> <a href = "feed.url"><%= feed.url%></a> </div>        
                    <hr>
                <%end%>   
              </li>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
 
</html>